body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: white;
}

h1 {
    font-family: "custard", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color:white;
    padding: 0 0 0 80px
}
h2{
    font-family: "custard", sans-serif;

    font-style: x-large;
    font-size: 30px;
    color: white;
    /* padding: 0 0 0 80px */
}

p{
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: medium;
    color: white;
    width: 800px;
    height: 180px;
    margin: 0 0 0 80px;
}

main {
    padding-bottom: 50px;
}